progressbar2
PyMySQL
pymssql
deeppavlov
# python3.7 -m pip install -U https://github.com/alphacep/vosk-api/releases/download/0.3.30/vosk-0.3.30-py3-none-linux_x86_64.whl
vosk
pandas
pendulum
ThreadPoolExecutorPlus
redis
git+https://github.com/deepmipt/bert.git@feat/multi_gpu
google-cloud-speech
jiwer
matplotlib
